
.titulo{
    font-family: 'Playfair Display SC', serif;
    font-size: 4rem;
    flex-direction: column;
    margin: 0 0 0 140px;
}

.perguntas{
    font-family: Poppins;
    color: var(--color-brown);
    margin: 0 0 0 140px;
    font-size: 20px;
}

.respostas{
    color: #626262;
    font-family: Poppins;
    font-size: 17;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px; /* 163.636% */
    margin: 0 0 0 140px;
}

.Faq .respostas{
    display: none;
}

.Faq .respostas.active{
    display: block;
}