.natureza{
    padding-top: 36px;
    padding-left: 130px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

.titulo{
    font-family: 'Playfair Display SC', serif;
    font-size: 4rem;
    flex-direction: column;
    margin: 30px  0 30px 0;
}

.subtitulo {
    font-family: 'Playfair Display SC', serif;
    color: var(--color-brown);
    font-size: 32px;
    margin: 0 0 0 0;
}
    
aside{
    width: 240px;
    overflow: hidden;
    overflow-y: scroll;
    height: 600px;
    padding: 1px;
}

aside img{ 
   width: 1000px; 
}

.conteudos{
    margin: 0 0 0 50px ;
}
