nav{
    background-color: #2FA97C;
    height: 64px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 30px 0 0 240px;
    padding: 10px 20px 10px 20px;
} 

.borda{
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    background-color: white;
    color: var(--color-brown);
}

.conteudo{
    line-height: 30px;
    margin-bottom: 20px;
}
