nav{
    background-color: #2FA97C;
    height: 64px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 30px 0 0 140px;
    padding: 10px 20px 10px 20px;
} 

a{
    text-decoration: white;
    color: white;
}

.borda{
    display: inline-flex;
    padding: 4px;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 5px;
    background-color: white;
    color: var(--color-brown);
}

.material-symbols-outlined {
    margin-left: 6px;
}

.conteudo{
    line-height: 30px;
    margin-bottom: 20px;
}


.conteudo{
    display: block;
    margin-left: 15px;
}

.conteudo section{
    display: none;
}

.conteudo section.active{
    display: block;
}

.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
}

.js-list{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .toggle {
        display: flex;
    }

		.js-list{
        display: none;
    }
}

@media screen and (max-width: 768px) {

    .js-list{
        display: none;
        animation: fadeOut .3s forwards;
    }

    .toggle{
        display: flex;
    }

    .js-list.active{
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #2FA97C;
        z-index: 100;
        animation: slideDownMenu .5s forwards;
    }

    .toggle span.active{
        animation: slideDownMenu .5s forwards;
    }

}

@keyframes slideDownMenu {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}